h3, h4 {
  margin-bottom: 1rem;
}

#content {
	margin-top: 2rem;
}

.form_task-input {
	display: block;
}

.sort {
	margin-bottom: 2rem;
}

.task {
	margin-bottom: 1rem;
}

.task-userInfo {
	display: block;
}

.task-userInfo_image {
	max-width: 20rem;
  width: 100%;
  margin-bottom: 1rem;
}

.task-edit {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;  
}

.form-check {
  margin-bottom: 1rem;
}

input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
input[type="file"] + label {
  background-color: #17a2b8;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
}
  
input[type="file"]:focus + label,
input[type="file"] + label:hover {
    background-color: #138496;
}
  
input[type="file"]:focus + label {
  box-shadow: 0 0 0 0.2rem rgba(58,176,195,.5);
}